body {
    background: url('./Images/view-gym-room-training-sports.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}


.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}


.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-field {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    align-items: center;
    color: white;
    font-size: 16px;
    outline: none;
}


.input-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.btn {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #0056b3;
}


.social-login {
    margin-top: 15px;
}

.social-login button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px 0;
    transition: 0.3s;
}

.google-btn {
    background: #db4437;
    color: white;
}

.facebook-btn {
    background: #3b5998;
    color: white;
}

.google-btn:hover {
    background: #c1351d;
}

.facebook-btn:hover {
    background: #2d4373;
}

.link {
    color: lightblue;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}
.navbar {
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    backdrop-filter: blur(0px);
    padding: 1rem 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    position: relative;
    display:inline-block;
}

.navbar ul li a:hover {
    color: yellow; 
    transform: scale(1.4); 
}

.navbar ul li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: yellow;
    transition: width 0.4s ease-in-out;
}

.navbar ul li a:hover::after {
    width: 100%;
}

